body {
    background-image: url(images/cocktail2.jpg);
}


.head {
    color: #CF0A0A;
    font-size: 50px;
    font-weight: 700;
}

.three {
    color: #CF0A0A;
    font-size: 30px;
    font-weight: 700;
}

.food,
.cook,
.part {
    color: #FFF;
    font-size: 20px;
}

.back {
    color: hsl(19, 97%, 44%);
}